In [32]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col, lit
import pyspark.sql.functions as psf
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType
from pyspark.sql.functions import col
from pyspark.sql.functions import *

In [26]:
def create_spark_session():
    """
    spark configuration.
    """
    print("Start the application")
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.8.5") \
        .getOrCreate()
    return spark

In [196]:
# local paths in S3
root_path = "/home/alison/curso/ED-Udacity/capstone-athena/projeto-udacity/data/"
global_temperatures_path = root_path + "temperatures/GlobalTemperatures.csv"
global_land_temperatures_by_state_path = root_path + "temperatures/GlobalLandTemperaturesByState.csv"
global_land_temperatures_by_major_city_path = root_path + "temperatures/GlobalLandTemperaturesByMajorCity.csv"
global_land_temperatures_by_country_path = root_path + "temperatures/GlobalLandTemperaturesByCountry.csv"
global_land_temperatures_by_city_path = root_path + "temperatures/GlobalLandTemperaturesByCity.csv"
us_cities_demographics_path = root_path + "us_cities_demographics.csv"
airport_codes_csv_path = root_path + "airport_codes_csv.csv"
country_path = root_path + "country.csv"

In [178]:
def load_glob_temp_state(spark):
    global_temperatures_by_state_schema = StructType([\
                                                  StructField("dt", DateType(), False),
                                                  StructField('average_temperature', DoubleType(), False),
                                                  StructField('average_temperature_uncertainty', DoubleType(), False),
                                                  StructField('state', StringType(), False),
                                                  StructField('country', StringType(), False)
                                          ]) 
    
    return spark\
    .read\
    .format('com.databricks.spark.csv')\
    .option("sep",",")\
    .option("header", "true")\
    .option("encoding", "UTF-8")\
    .schema(global_temperatures_by_state_schema)\
    .load(global_land_temperatures_by_state_path)

In [179]:
def load_glob_temp(spark):
    global_temperatures_schema = StructType([ \
                                  StructField("dt", DateType(), False),           
                                  StructField("land_average_temperature", DoubleType(), False),
                                  StructField("land_average_temperature_uncertainty", DoubleType(), False),
                                  StructField("land_max_temperature", DoubleType(), False), 
                                  StructField("land_max_temperature_uncertainty", DoubleType(), False),
                                  StructField("land_min_temperature", DoubleType(), False), 
                                  StructField("land_min_temperature_uncertainty", DoubleType(), False),
                                  StructField("land_and_ocean_average_temperature", DoubleType(), False),
                                  StructField("land_and_ocean_average_temperature_uncertainty", DoubleType(), False)           
                            ])
    return spark\
            .read\
            .format('com.databricks.spark.csv')\
            .option('sep',',')\
            .option("header", "true")\
            .option("encoding", "UTF-8")\
            .schema(global_temperatures_schema)\
            .load(global_temperatures_path)

In [180]:
def load_global_land_temp_major_city(spark):
    global_temp_major_city_schema = StructType([\
                                                StructField("dt", DateType(), False),
                                                StructField("average_temperature", DoubleType(), False),
                                                StructField("average_temperature_uncertainty", DoubleType(), False),
                                                StructField("city", StringType(), False),
                                                StructField("country", StringType(), False),
                                                StructField("latitude", StringType(), False),
                                                StructField("longitude", StringType(), False)
                                ])
    
    return spark\
            .read\
            .format('com.databricks.spark.csv')\
            .option('sep',',')\
            .option('header', 'true')\
            .option("encoding", "UTF-8")\
            .schema(global_temp_major_city_schema)\
            .load(global_land_temperatures_by_major_city_path)

In [181]:
def load_global_land_temp_by_country(spark):
    global_land_temp_by_country_schema = StructType([\
                                                      StructField("dt", DateType(), False),
                                                      StructField("average_temperature", DoubleType(), False),
                                                      StructField("average_temperature_uncertainty", DoubleType(), False),
                                                      StructField("country", StringType(), False)
                                      ])
    return spark\
            .read\
            .format('com.databricks.spark.csv')\
            .option('sep',',')\
            .option('header', 'true')\
            .option("encoding", "UTF-8")\
            .schema(global_land_temp_by_country_schema)\
            .load(global_land_temperatures_by_country)

In [182]:
def load_global_land_temp_by_city(spark):
    global_land_temp_by_city_schema = StructType([\
                                                  StructField("dt", DateType(), False),
                                                  StructField("average_temperature", DoubleType(), False),
                                                  StructField("average_temperature_uncertainty", DoubleType(), False),
                                                  StructField("city", StringType(), False),
                                                  StructField("country", StringType(), False),
                                                  StructField("latitude", StringType(), False),
                                                  StructField("longitude", StringType(), False)
                                      ])
    
    return spark\
            .read\
            .format('com.databricks.spark.csv')\
            .option('sep',',')\
            .option('header', 'true')\
            .option("encoding", "utf-8")\
            .schema(global_land_temp_by_city_schema)\
            .load(global_land_temperatures_by_city_path)

In [183]:
def load_us_cities_demographics(spark):
    us_cities_demog_schema = StructType([\
                                        StructField("city", StringType(), False),
                                        StructField("state", StringType(), False),
                                        StructField("median_age", DoubleType(), False),
                                        StructField("male_population", IntegerType(), False),
                                        StructField("female_population", IntegerType(), False),
                                        StructField("total_polulation", IntegerType(), False),
                                        StructField("number_veterans", IntegerType(), False),
                                        StructField("foreign_born", IntegerType(), False),
                                        StructField("average_household_size", DoubleType(), False),
                                        StructField("state_code", StringType(), False),
                                        StructField("race", StringType(), False),
                                        StructField("quant", IntegerType(), False)
                                        ])
    
    
    return spark\
            .read\
            .format('com.databricks.spark.csv')\
            .option('sep',',')\
            .option('header', 'true')\
            .option("encoding", "utf-8")\
            .schema(us_cities_demog_schema)\
            .load(us_cities_demographics_path)

In [187]:
def load_airport_codes(spark):
    airport_codes_schema = StructType([\
                                       StructField("ident", StringType(), False),
                                       StructField("type", StringType(), False),
                                       StructField("name", StringType(), False),
                                       StructField("elevation_ft", IntegerType(), False),
                                       StructField("continent", StringType(), False),
                                       StructField("iso_country", StringType(), False),
                                       StructField("iso_region", StringType(), False),
                                       StructField("municipality", StringType(), False),
                                       StructField("gps_code", StringType(), False),
                                       StructField("iata_code", StringType(), False),
                                       StructField("local_code", StringType(), False),
                                       StructField("coordinates", StringType(), False)
                                      ])
    
    return spark\
            .read\
            .format('com.databricks.spark.csv')\
            .option('sep',',')\
            .option('header', 'true')\
            .option("encoding", "utf-8")\
            .schema(airport_codes_schema)\
            .load(airport_codes_csv_path)

In [193]:
def load_country(spark):
    country_schema = StructType([\
                                  StructField("code", IntegerType(), False),
                                  StructField("name", StringType(), False)
                                 ])
    
    return spark\
            .read\
            .format('com.databricks.spark.csv')\
            .option('sep',';')\
            .option('header', 'true')\
            .option("encoding", "utf-8")\
            .schema(country_schema)\
            .load(country_path)

In [197]:
def main():
    
    spark = create_spark_session()
    
    df_glob_temp = load_glob_temp(spark)
    df_glob_temp.show(truncate=False)
    df_glob_temp.printSchema()
    
    
    df_glob_temp_state = load_glob_temp_state(spark)
    df_glob_temp_state.show()
    df_glob_temp_state.printSchema()
    
    df_glob_temp_major_city = load_global_land_temp_major_city(spark)
    df_glob_temp_major_city.show(truncate = False)
    df_glob_temp_major_city.printSchema()
    
    df_glob_temp_country = load_global_land_temp_by_country(spark)
    df_glob_temp_country.show(truncate = False)
    df_glob_temp_country.printSchema()
    
    df_glob_temp_city = load_global_land_temp_by_city(spark)
    df_glob_temp_city.show(truncate=False)
    df_glob_temp_city.printSchema
    
    df_us_cities_demog = load_us_cities_demographics(spark)
    df_us_cities_demog.show(truncate=False)
    df_us_cities_demog.printSchema
    
    df_airport_codes_csv = load_airport_codes(spark)
    df_airport_codes_csv.show(truncate=False)
    df_airport_codes_csv.printSchema
    
    df_country = load_country(spark)
    df_country.show(truncate=False)
    df_country.printSchema

In [199]:
main()

Start the application
+----------+------------------------+------------------------------------+--------------------+--------------------------------+--------------------+--------------------------------+----------------------------------+----------------------------------------------+
|dt        |land_average_temperature|land_average_temperature_uncertainty|land_max_temperature|land_max_temperature_uncertainty|land_min_temperature|land_min_temperature_uncertainty|land_and_ocean_average_temperature|land_and_ocean_average_temperature_uncertainty|
+----------+------------------------+------------------------------------+--------------------+--------------------------------+--------------------+--------------------------------+----------------------------------+----------------------------------------------+
|1750-01-01|3.0340000000000003      |3.574                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-02-01|3.083                   |3.702                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-03-01|5.626                   |3.076                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-04-01|8.49                    |2.451                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-05-01|11.573                  |2.072                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-06-01|12.937000000000001      |1.724                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-07-01|15.868                  |1.911                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-08-01|14.75                   |2.231                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-09-01|11.412999999999998      |2.637                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-10-01|6.366999999999999       |2.668                               |null                |null                            |null                |null                            |null                              |null                                          |
|1750-11-01|null                    |null                                |null                |null                            |null                |null                            |null                              |null                                          |
|1750-12-01|2.772                   |2.97                                |null                |null                            |null                |null                            |null                              |null                                          |
|1751-01-01|2.495                   |3.469                               |null                |null                            |null                |null                            |null                              |null                                          |
|1751-02-01|0.963                   |3.827                               |null                |null                            |null                |null                            |null                              |null                                          |
|1751-03-01|5.8                     |3.051                               |null                |null                            |null                |null                            |null                              |null                                          |
|1751-04-01|7.67                    |2.3680000000000003                  |null                |null                            |null                |null                            |null                              |null                                          |
|1751-05-01|null                    |null                                |null                |null                            |null                |null                            |null                              |null                                          |
|1751-06-01|13.827                  |1.801                               |null                |null                            |null                |null                            |null                              |null                                          |
|1751-07-01|null                    |null                                |null                |null                            |null                |null                            |null                              |null                                          |
|1751-08-01|14.405                  |2.296                               |null                |null                            |null                |null                            |null                              |null                                          |
+----------+------------------------+------------------------------------+--------------------+--------------------------------+--------------------+--------------------------------+----------------------------------+----------------------------------------------+
only showing top 20 rows

root
 |-- dt: date (nullable = true)
 |-- land_average_temperature: double (nullable = true)
 |-- land_average_temperature_uncertainty: double (nullable = true)
 |-- land_max_temperature: double (nullable = true)
 |-- land_max_temperature_uncertainty: double (nullable = true)
 |-- land_min_temperature: double (nullable = true)
 |-- land_min_temperature_uncertainty: double (nullable = true)
 |-- land_and_ocean_average_temperature: double (nullable = true)
 |-- land_and_ocean_average_temperature_uncertainty: double (nullable = true)

+----------+-------------------+-------------------------------+-----+-------+
|        dt|average_temperature|average_temperature_uncertainty|state|country|
+----------+-------------------+-------------------------------+-----+-------+
|1855-05-01|             25.544|                          1.171| Acre| Brazil|
|1855-06-01|             24.228|                          1.103| Acre| Brazil|
|1855-07-01|             24.371|                          1.044| Acre| Brazil|
|1855-08-01|             25.427|                          1.073| Acre| Brazil|
|1855-09-01|             25.675|                          1.014| Acre| Brazil|
|1855-10-01| 25.441999999999997|                          1.179| Acre| Brazil|
|1855-11-01|               25.4|                          1.064| Acre| Brazil|
|1855-12-01|               24.1|             1.7180000000000002| Acre| Brazil|
|1856-01-01|             25.814|                          1.159| Acre| Brazil|
|1856-02-01|             24.658|                          1.147| Acre| Brazil|
|1856-03-01| 24.659000000000002|                          1.547| Acre| Brazil|
|1856-04-01| 24.906999999999996|                          1.186| Acre| Brazil|
|1856-05-01| 24.418000000000003|                          1.168| Acre| Brazil|
|1856-06-01|              24.93|                          1.355| Acre| Brazil|
|1856-07-01|               null|                           null| Acre| Brazil|
|1856-08-01|             24.615|                          1.053| Acre| Brazil|
|1856-09-01|              25.15|                          1.093| Acre| Brazil|
|1856-10-01| 25.195999999999998|                          1.048| Acre| Brazil|
|1856-11-01|             25.441|                          1.102| Acre| Brazil|
|1856-12-01|             25.362|                          1.382| Acre| Brazil|
+----------+-------------------+-------------------------------+-----+-------+
only showing top 20 rows

root
 |-- dt: date (nullable = true)
 |-- average_temperature: double (nullable = true)
 |-- average_temperature_uncertainty: double (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)

+----------+-------------------+-------------------------------+-------+-------------+--------+---------+
|dt        |average_temperature|average_temperature_uncertainty|city   |country      |latitude|longitude|
+----------+-------------------+-------------------------------+-------+-------------+--------+---------+
|1849-01-01|26.704             |1.435                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-02-01|27.434             |1.362                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-03-01|28.101             |1.612                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-04-01|26.14              |1.3869999999999998             |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-05-01|25.427             |1.2                            |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-06-01|24.844             |1.402                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-07-01|24.058000000000003 |1.254                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-08-01|23.576             |1.265                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-09-01|23.662             |1.226                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-10-01|25.263             |1.175                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-11-01|26.331999999999997 |1.507                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1849-12-01|25.45              |1.838                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1850-01-01|25.803             |1.943                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1850-02-01|27.89              |1.43                           |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1850-03-01|27.852             |2.173                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1850-04-01|26.546999999999997 |1.662                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1850-05-01|25.379             |1.355                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1850-06-01|24.903000000000002 |1.178                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1850-07-01|24.040000000000006 |1.301                          |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
|1850-08-01|23.758000000000003 |1.2819999999999998             |Abidjan|Côte D'Ivoire|5.63N   |3.23W    |
+----------+-------------------+-------------------------------+-------+-------------+--------+---------+
only showing top 20 rows

root
 |-- dt: date (nullable = true)
 |-- average_temperature: double (nullable = true)
 |-- average_temperature_uncertainty: double (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

+----------+-------------------+-------------------------------+-------+
|dt        |average_temperature|average_temperature_uncertainty|country|
+----------+-------------------+-------------------------------+-------+
|1743-11-01|4.3839999999999995 |2.294                          |Åland  |
|1743-12-01|null               |null                           |Åland  |
|1744-01-01|null               |null                           |Åland  |
|1744-02-01|null               |null                           |Åland  |
|1744-03-01|null               |null                           |Åland  |
|1744-04-01|1.53               |4.68                           |Åland  |
|1744-05-01|6.702000000000001  |1.789                          |Åland  |
|1744-06-01|11.609000000000002 |1.577                          |Åland  |
|1744-07-01|15.342             |1.41                           |Åland  |
|1744-08-01|null               |null                           |Åland  |
|1744-09-01|11.702             |1.517                          |Åland  |
|1744-10-01|5.477              |1.862                          |Åland  |
|1744-11-01|3.407              |1.425                          |Åland  |
|1744-12-01|-2.181             |1.641                          |Åland  |
|1745-01-01|-3.85              |1.841                          |Åland  |
|1745-02-01|-6.574999999999998 |1.36                           |Åland  |
|1745-03-01|-4.195             |1.213                          |Åland  |
|1745-04-01|-0.9660000000000002|1.172                          |Åland  |
|1745-05-01|null               |null                           |Åland  |
|1745-06-01|null               |null                           |Åland  |
+----------+-------------------+-------------------------------+-------+
only showing top 20 rows

root
 |-- dt: date (nullable = true)
 |-- average_temperature: double (nullable = true)
 |-- average_temperature_uncertainty: double (nullable = true)
 |-- country: string (nullable = true)

+----------+-------------------+-------------------------------+-----+-------+--------+---------+
|dt        |average_temperature|average_temperature_uncertainty|city |country|latitude|longitude|
+----------+-------------------+-------------------------------+-----+-------+--------+---------+
|1743-11-01|6.068              |1.7369999999999999             |Århus|Denmark|57.05N  |10.33E   |
|1743-12-01|null               |null                           |Århus|Denmark|57.05N  |10.33E   |
|1744-01-01|null               |null                           |Århus|Denmark|57.05N  |10.33E   |
|1744-02-01|null               |null                           |Århus|Denmark|57.05N  |10.33E   |
|1744-03-01|null               |null                           |Århus|Denmark|57.05N  |10.33E   |
|1744-04-01|5.7879999999999985 |3.6239999999999997             |Århus|Denmark|57.05N  |10.33E   |
|1744-05-01|10.644             |1.2830000000000001             |Århus|Denmark|57.05N  |10.33E   |
|1744-06-01|14.050999999999998 |1.347                          |Århus|Denmark|57.05N  |10.33E   |
|1744-07-01|16.082             |1.396                          |Århus|Denmark|57.05N  |10.33E   |
|1744-08-01|null               |null                           |Århus|Denmark|57.05N  |10.33E   |
|1744-09-01|12.780999999999999 |1.454                          |Århus|Denmark|57.05N  |10.33E   |
|1744-10-01|7.95               |1.63                           |Århus|Denmark|57.05N  |10.33E   |
|1744-11-01|4.638999999999999  |1.3019999999999998             |Århus|Denmark|57.05N  |10.33E   |
|1744-12-01|0.12199999999999987|1.756                          |Århus|Denmark|57.05N  |10.33E   |
|1745-01-01|-1.3330000000000002|1.642                          |Århus|Denmark|57.05N  |10.33E   |
|1745-02-01|-2.732             |1.358                          |Århus|Denmark|57.05N  |10.33E   |
|1745-03-01|0.129              |1.088                          |Århus|Denmark|57.05N  |10.33E   |
|1745-04-01|4.042              |1.138                          |Århus|Denmark|57.05N  |10.33E   |
|1745-05-01|null               |null                           |Århus|Denmark|57.05N  |10.33E   |
|1745-06-01|null               |null                           |Århus|Denmark|57.05N  |10.33E   |
+----------+-------------------+-------------------------------+-----+-------+--------+---------+
only showing top 20 rows

+------------------------------------------------------------------------------------------------------+-----+----------+---------------+-----------------+----------------+---------------+------------+----------------------+----------+----+-----+
|city                                                                                                  |state|median_age|male_population|female_population|total_polulation|number_veterans|foreign_born|average_household_size|state_code|race|quant|
+------------------------------------------------------------------------------------------------------+-----+----------+---------------+-----------------+----------------+---------------+------------+----------------------+----------+----+-----+
|Silver Spring;Maryland;33.8;40601;41862;82463;1562;30908;2.6;MD;Hispanic or Latino;25924              |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Quincy;Massachusetts;41.0;44129;49500;93629;4147;32935;2.39;MA;White;58723                            |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Hoover;Alabama;38.5;38040;46799;84839;4819;8229;2.58;AL;Asian;4759                                    |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Rancho Cucamonga;California;34.5;88127;87105;175232;5821;33878;3.18;CA;Black or African-American;24437|null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Newark;New Jersey;34.6;138040;143873;281913;5829;86253;2.73;NJ;White;76402                            |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Peoria;Illinois;33.1;56229;62432;118661;6634;7517;2.4;IL;American Indian and Alaska Native;1343       |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Avondale;Arizona;29.1;38712;41971;80683;4815;8355;3.18;AZ;Black or African-American;11592             |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|West Covina;California;39.8;51629;56860;108489;3800;37038;3.56;CA;Asian;32716                         |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|O'Fallon;Missouri;36.0;41762;43270;85032;5783;3269;2.77;MO;Hispanic or Latino;2583                    |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|High Point;North Carolina;35.5;51751;58077;109828;5204;16315;2.65;NC;Asian;11060                      |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Folsom;California;40.9;41051;35317;76368;4187;13234;2.62;CA;Hispanic or Latino;5822                   |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Folsom;California;40.9;41051;35317;76368;4187;13234;2.62;CA;American Indian and Alaska Native;998     |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Philadelphia;Pennsylvania;34.1;741270;826172;1567442;61995;205339;2.61;PA;Asian;122721                |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Wichita;Kansas;34.6;192354;197601;389955;23978;40270;2.56;KS;Hispanic or Latino;65162                 |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Wichita;Kansas;34.6;192354;197601;389955;23978;40270;2.56;KS;American Indian and Alaska Native;8791   |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Fort Myers;Florida;37.3;36850;37165;74015;4312;15365;2.45;FL;White;50169                              |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Pittsburgh;Pennsylvania;32.9;149690;154695;304385;17728;28187;2.13;PA;White;208863                    |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Laredo;Texas;28.8;124305;131484;255789;4921;68427;3.66;TX;American Indian and Alaska Native;1253      |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Berkeley;California;32.5;60142;60829;120971;3736;25000;2.35;CA;Asian;27089                            |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
|Santa Clara;California;35.2;63278;62938;126216;4426;52281;2.75;CA;White;55847                         |null |null      |null           |null             |null            |null           |null        |null                  |null      |null|null |
+------------------------------------------------------------------------------------------------------+-----+----------+---------------+-----------------+----------------+---------------+------------+----------------------+----------+----+-----+
only showing top 20 rows

+-----+-------------+----------------------------------+------------+---------+-----------+----------+------------+--------+---------+----------+---------------------------------------+
|ident|type         |name                              |elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|coordinates                            |
+-----+-------------+----------------------------------+------------+---------+-----------+----------+------------+--------+---------+----------+---------------------------------------+
|00A  |heliport     |Total Rf Heliport                 |11          |NA       |US         |US-PA     |Bensalem    |00A     |null     |00A       |-74.93360137939453, 40.07080078125     |
|00AA |small_airport|Aero B Ranch Airport              |3435        |NA       |US         |US-KS     |Leoti       |00AA    |null     |00AA      |-101.473911, 38.704022                 |
|00AK |small_airport|Lowell Field                      |450         |NA       |US         |US-AK     |Anchor Point|00AK    |null     |00AK      |-151.695999146, 59.94919968            |
|00AL |small_airport|Epps Airpark                      |820         |NA       |US         |US-AL     |Harvest     |00AL    |null     |00AL      |-86.77030181884766, 34.86479949951172  |
|00AR |closed       |Newport Hospital & Clinic Heliport|237         |NA       |US         |US-AR     |Newport     |null    |null     |null      |-91.254898, 35.6087                    |
|00AS |small_airport|Fulton Airport                    |1100        |NA       |US         |US-OK     |Alex        |00AS    |null     |00AS      |-97.8180194, 34.9428028                |
|00AZ |small_airport|Cordes Airport                    |3810        |NA       |US         |US-AZ     |Cordes      |00AZ    |null     |00AZ      |-112.16500091552734, 34.305599212646484|
|00CA |small_airport|Goldstone /Gts/ Airport           |3038        |NA       |US         |US-CA     |Barstow     |00CA    |null     |00CA      |-116.888000488, 35.350498199499995     |
|00CL |small_airport|Williams Ag Airport               |87          |NA       |US         |US-CA     |Biggs       |00CL    |null     |00CL      |-121.763427, 39.427188                 |
|00CN |heliport     |Kitchen Creek Helibase Heliport   |3350        |NA       |US         |US-CA     |Pine Valley |00CN    |null     |00CN      |-116.4597417, 32.7273736               |
|00CO |closed       |Cass Field                        |4830        |NA       |US         |US-CO     |Briggsdale  |null    |null     |null      |-104.344002, 40.622202                 |
|00FA |small_airport|Grass Patch Airport               |53          |NA       |US         |US-FL     |Bushnell    |00FA    |null     |00FA      |-82.21900177001953, 28.64550018310547  |
|00FD |heliport     |Ringhaver Heliport                |25          |NA       |US         |US-FL     |Riverview   |00FD    |null     |00FD      |-82.34539794921875, 28.846599578857422 |
|00FL |small_airport|River Oak Airport                 |35          |NA       |US         |US-FL     |Okeechobee  |00FL    |null     |00FL      |-80.96920013427734, 27.230899810791016 |
|00GA |small_airport|Lt World Airport                  |700         |NA       |US         |US-GA     |Lithonia    |00GA    |null     |00GA      |-84.06829833984375, 33.76750183105469  |
|00GE |heliport     |Caffrey Heliport                  |957         |NA       |US         |US-GA     |Hiram       |00GE    |null     |00GE      |-84.73390197753906, 33.88420104980469  |
|00HI |heliport     |Kaupulehu Heliport                |43          |NA       |US         |US-HI     |Kailua/Kona |00HI    |null     |00HI      |-155.980233, 19.832715                 |
|00ID |small_airport|Delta Shores Airport              |2064        |NA       |US         |US-ID     |Clark Fork  |00ID    |null     |00ID      |-116.21399688720703, 48.145301818847656|
|00IG |small_airport|Goltl Airport                     |3359        |NA       |US         |US-KS     |McDonald    |00IG    |null     |00IG      |-101.395994, 39.724028                 |
|00II |heliport     |Bailey Generation Station Heliport|600         |NA       |US         |US-IN     |Chesterton  |00II    |null     |00II      |-87.122802734375, 41.644500732421875   |
+-----+-------------+----------------------------------+------------+---------+-----------+----------+------------+--------+---------+----------+---------------------------------------+
only showing top 20 rows

+----+---------------+
|code|name           |
+----+---------------+
|582 |MEXICO         |
|101 |ALBANIA        |
|316 |ALGERIA        |
|236 |AFGHANISTAN    |
|102 |ANDORRA        |
|324 |ANGOLA         |
|529 |ANGUILLA       |
|518 |ANTIGUA-BARBUDA|
|687 |ARGENTINA      |
|151 |ARMENIA        |
|532 |ARUBA          |
|438 |AUSTRALIA      |
|103 |AUSTRIA        |
|152 |AZERBAIJAN     |
|512 |BAHAMAS        |
|298 |BAHRAIN        |
|274 |BANGLADESH     |
|513 |BARBADOS       |
|104 |BELGIUM        |
|581 |BELIZE         |
+----+---------------+
only showing top 20 rows